@import "../utilities/variables"; 
@import '../animations/keyframes';

.titulo {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin: 20px;
  letter-spacing: 2px;
  color: $colorNegro;
  text-transform: uppercase;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.subtitulo {
  text-align: center;
  font-size: 30px;
  margin: 10px;
  color: #666;
}


